#app{
    background: linear-gradient(to bottom right,rgba(182,135,247,89),rgba(244,134,138,84));
    padding-bottom: 30px;
   }

#chatbot{
   background: linear-gradient(to bottom right,rgba(182,135,247,89),rgba(244,134,138,84));
    padding-bottom: 30px;  
}
h1{
    font-size: 50px;
    padding-top: 25px;
    font-family: 'Castoro', serif;
    color:mediumblue;
}
.line{
    height: 6px;
    background-color: black;
    margin: 8px auto;
    width: 70px;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}

#myCarousel{
    background-color: red;
}
.container{
    text-align: center;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}